.App {
  font-family: sans-serif;
  text-align: center;
  border: 1px solid;
  border-radius: 20px;
  margin-top: 50px;
  height: 300px;
  width: 50%;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
}

.getYear {
  padding: 5px 40px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.body {
  padding: 0;
  margin: 0;
}

.counter,
.steps {
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
}

/* ? buttons styles */

.b1,
.b2,
.b3,
.b4 {
  padding: 4px 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: blue;
  color: white;
  font-weight: bold;
}

.b3 {
  margin-right: 130px;
}

:where(.b1, .b2, .b3, .b4):hover {
  cursor: pointer;
  padding: 7px 40px;
}

p {
  font-weight: bold;
}

